body {
    background: url("https://i.imgur.com/k742N9B.png") !important;
}
/* ion-icon {
    background-color: yellow !important;
} */
/* #item {
    background: purple;
} */

#star {
    color: silver;
}
/* .form-check-input {
    $form-check-input-width: 5em;
} */

/* input[type="radio"] {
    font-size: 40px !important;
} */